<% form_for @midia do |f| %>
  <%= f.error_messages %>
  <table align="center" bgcolor="#F5F5F5" width="100%">
    <tr>
      <td colspan="3" >
        <b>Tombo Local:</b><br />
        <%= radio_button_tag(:type_midia,"0") %>Multi-Tombos
        <%= radio_button_tag(:type_midia,"1") %>Único
      </td>
    </tr>
      <tr>
          <td colspan="3">
            <div id="tipo_tombo" style="display:none">
              <table>
                <tr>
                  <td>
                    <b><%= f.label :qtde_midias, "Qtde:" %></b>
                  </td>
                  <td>
                    <b><%= f.label :lista_tombos, "Tombo(s):" %></b>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= f.text_field :qtde_midias, :size => "2" %>
                  </td>
                  <td>
                   <%= f.text_field :lista_tombos, :size => "73"%>
                  </td>
                </tr>
              </table>
            </div>
            <div id="exibe_aviso" style="display:none"><b>Separar os números dos tombos por ';'</b></div>
          </td>
      </tr>
    <tr>
      <td colspan="3">
        <b><%= f.label :tipo, 'Tipo:' %></b>
         <%= f.select :tipo, Midia::TIPO, :include_blank => '---Selecionar---'%>
        <b><%= f.label :genero_id,"Genero: " %></b>
        <%= f.collection_select :genero_id ,@generos,:id,:nome, :include_blank => "Selecionar" %>
      </td>
    </tr>
    <tr>
      <td colspan="3" align="left">
        <b><%= f.label :titulo, "Título:" %></b><br />
        <%= f.text_field :titulo, :size => "70" %>
      </td>
    </tr>
    <tr>
      <td colspan="3" align="left">
        <b><%= f.label :subtitulo, "Subtítulo:" %></b><br />
        <%= f.text_field :subtitulo, :size => "70" %>
      </td>
    </tr>
    <tr class="musica">
      <td colspan="2"> <b> Musica(s):</b>
        <%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "12x12"), "#inline_musica", :class =>"inline" %>
        <div id="musica"><%= render "shared/campos/campos_musica"%></div>
      </td>
      <td class="musica"> <b> Interprete(s):</b>
        <%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "12x12"), "#inline_cantor", :class =>"inline" %>
        <div id="cantor"><%= render "shared/campos/campos_cantor"%></div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <div id= "musica" style="margin-left: 0px"></div>
      </td>
    </tr>
    <tr>
      <td colspan="3" align="left">
        <b><%= f.label :producao, "Produção:" %></b><br />
        <%= f.text_field :producao, :size => "70" %>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="left">
        <b><%= f.label :local_producao, "Local:" %></b><br />
        <%= f.text_field :local_producao, :size => "35" %>
        <b><%= f.label :data_producao, "Ano:" %></b>
        <%= f.date_select(:data_producao, :order => [:year], :start_year => (Date.today.year)-50) %>
     </td>
    </tr>
    <tr>
      <td colspan="3"  align="left">
        <b><%= f.label :localizacao_id,"Localização: " %></b>
        <%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "12x12"), "#inline_local", :class =>"inline"%>
        <div id="local"><%= render "shared/campos/campos_local"%></div>
      </td>

    </tr>
    <tr>
      <td colspan="3"  align="left">
        <b><%= f.label :obs, 'Observação:' %></b><br />
        <%= f.text_area :obs, :size => "68x3" %>
      </td>
    </tr>
    <tr>
      <td colspan="3"><%= f.submit "Salvar" %></td>
    </tr>
  <% end %>
</table>

    <%= render "shared/forms/form_local" %>
    <%= render "shared/forms/form_musica" %>
    <%= render "shared/forms/form_cantor" %>

