       <table border="2" width="100%">
       <%unless !@import.present?%>
          <h1><%="Registros a serem importados #{@import.count}."%></h1>
            <tr>
              <th>Nome</th>
              <th>Cidade</th>
              <th>Pais</th>
            </tr>


          <% for import in @import %>
            <tr>
              <td><%=h import.nome %></td>
              <td><%=h import.cidade %></td>
              <td><%=h import.pais %></td>

            </tr>
          <%end%>
          <tr>
            <td>
              <% form_tag({:action => 'efetivar_importacao'}) do %>
                <%= submit_tag "Quero importar!" %>
              <% end %>
            </td>
          </tr>

        <%else%>
          <h1><%="Não existe registro a serem importados.Faça Upload de um arquivo Texto."%></h1>
          <h1><%= "Na estrutura: Nome#Telefone#email" %></h1>
        <%end%>
        </table>
