<% form_for @editora do |f| %>
  <%= f.error_messages %>
  <table  width="100%" bgcolor="#F5F5F5">
    <tr>
      <td>
        <b><%= f.label :nome, 'Nome:' %></b><br />
        <%= f.text_field :nome %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= f.label :cidade, 'Cidade:' %></b><br />
        <%= f.text_field :cidade %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= f.label :pais, 'País:' %></b><br />
        <%= f.text_field :pais %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.submit "Salvar" %>
      </td>
    </tr>
  </table>
<% end %>


