<% title "EDITORAS" %>

<table>
  <tr>
    <th>Nome</th>
    <th>Cidade</th>
    <th>Pais</th>
  </tr>
  <% for editora in @editoras %>
    <tr>
      <td><%=h editora.nome %></td>
      <td><%=h editora.cidade %></td>
      <td><%=h editora.pais %></td>
      <td>| <%= link_to "Visualizar", editora %> </td>
      <td>| <%= link_to "Editar", edit_editora_path(editora) %></td>
      <td>|<%= link_to "Apagar", editora, :confirm => 'Tem certeza?', :method => :delete %> |</td>
    </tr>
  <% end %>
</table>

<p>| <%= link_to "Cadastrar", new_editora_path %> |</p>
