<% title "EDITORAS" %>
 <div class="tabs">
   <div id="caixa_titulo">
    <font size="3"><strong>EDITORAS CADASTRADAS</strong></font><br/>
  </div>
<div class="tabs">
  <table bgcolor="#DCDCDC" width="100%">
    <tr>
     <th width="300">Nome</th>
     <th width="200">Cidade</th>
     <th width="100">Pais</th>
     <th colspan="4">Administração</th>
    </tr>
    <% for editora in @editoras %>
    <tr bgcolor="#F5F5F5">
      <td align="left"><%=h editora.nome %></td>
      <td align="left"><%=h editora.cidade %></td>
      <td  align=""><%=h editora.pais %></td>
      <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), editora, :title => "Visualizar Editora" %></td>
      <% if current_user.has_role?('admin') %>
         <td align="center"><%= link_to image_tag("/stylesheets/images/edit.png", :size => "15x15"), edit_editora_path(editora),  :title => "Editar Editora" %></td>
         <td align="center"><%= link_to image_tag("/stylesheets/images/excluir.png", :size => "15x15"), editora, :confirm => 'Tem certeza?', :method => :delete,  :title => "Excluir Editora" %></td>
      <%else%>
         <td align="center"> --- </td>
         <td align="center"> --- </td>
      <%end%>
    </tr>
    <% end %>
  </table>
  <table bgcolor="#DCDCDC" width="100%">
     <tr >
        <td align="left" colspan="4"><%= will_paginate @autores%></td>
    </tr>
  </table>
  </div>
  <table>
    <tr>
     <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "35x35"), root_path, :title => "Voltar" %></td>
     <% if current_user.has_role?('admin') or current_user.has_role?('escola') or current_user.has_role?('responsavel')%>
         <td><%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "22x22"), new_editora_path, :title => "Cadastrar Editora" %></td>
     <%else%>
          <td></td>
    <%end%>

    </tr>
  </table>
</div>


