<% title "EDITORAS" %>
<div class ="tabs">
  <div id="topoShow"></div>
     <h3><b><i>Editora Conhecimento</i></b></h3>
        <hr>
          <p>
            <strong>Nome:</strong> <%=h @editora.nome %>
          </p>
          <p>
            <strong>Cidade:</strong> <%=h @editora.cidade %>
          </p>
          <p>
            <strong>Pais:</strong> <%=h @editora.pais %>
          </p>
        <hr>
        <table>
          <tr>
            <td><%= link_to image_tag("/stylesheets/images/listar.png", :size => "25x25"), editoras_path, :title => "Editora Cadastradas" %></td>
            <td><%= link_to image_tag("/stylesheets/images/edit.png", :size => "25x25"), edit_editora_path(@editora), :title => "Editar Editora" %></td>
            <td><%= link_to image_tag("/stylesheets/images/excluir.png", :size => "25x25"), @editora, :confirm => 'Confirma Exclusão?', :method => :delete, :title => "Excluir Editora" %></td>
            <td><%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "22x22"), new_editora_path, :title => "Cadastrar Editora" %></td>
          </tr>
        </table>
</div>

