<% title "EDITORA" %>

<p>
  <strong>Nome:</strong><%=h @editora.nome %>
</p>
<p>
  <strong>Cidade:</strong><%=h @editora.cidade %>
</p>
<p>
  <strong>Pais:</strong><%=h @editora.pais %>
</p>

<p>
  | <%= link_to "Editar", edit_editora_path(@editora) %> |
  <%= link_to "Apagar", @editora, :confirm => 'Tem certeza?', :method => :delete %> |
  <%= link_to "Listar", editoras_path %> |
</p>
