<h1>Editing musica</h1>

<% form_for(@musica) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @musica %> |
<%= link_to 'Back', musicas_path %>