<h1>Listing musicas</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @musicas.each do |musica| %>
  <tr>
    <td><%=h musica.nome %></td>
    <td><%= link_to 'Show', musica %></td>
    <td><%= link_to 'Edit', edit_musica_path(musica) %></td>
    <td><%= link_to 'Destroy', musica, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New musica', new_musica_path %>