<% form_for @configuracao do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :data_criacao %><br />
    <%= f.text_field :data_criacao %>
  </p>
  <p>
    <%= f.label :dias_posse %><br />
    <%= f.text_field :dias_posse %>
  </p>
  <p>
    <%= f.label :dias_para_aviso %><br />
    <%= f.text_field :dias_para_aviso %>
  </p>
  <p><%= f.submit %></p>
<% end %>
