<% title "Configuracao" %>

<p>
  <strong>User:</strong>
  <%=h @configuracao.user %>
</p>
<p>
  <strong>Data Criacao:</strong>
  <%=h @configuracao.data_criacao %>
</p>
<p>
  <strong>Dias Posse:</strong>
  <%=h @configuracao.dias_posse %>
</p>
<p>
  <strong>Dias Para Aviso:</strong>
  <%=h @configuracao.dias_para_aviso %>
</p>

<p>
  <%= link_to "Edit", edit_configuracao_path(@configuracao) %> |
  <%= link_to "Destroy", @configuracao, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", configuracaos_path %>
</p>
