<div style='display:none'>
		<div id='inline_editora' style='padding:10px; background:#EEE9E9;'>
          <h2>EDITORA</h2>
          <% form_remote_for(:editora,:url => { :action => 'create_editora' }, :success => "$.fn.colorbox.close()") do |f|%>
            <%= error_messages_for 'contact' %>
            <table>
              <tr>
                <td><%= f.label :nome %></td>
                <td colspan="2"><%= f.text_field :nome %></td>
              </tr>
              <tr>
                <td><%= f.label :cidade %></td>
                <td colspan="2">  <%= f.text_field :cidade %></td>
              </tr>
              <tr>
                <td><%= f.label :pais %></td>
                <td> <%= f.text_field :pais %></td>
                <td><%= submit_tag 'Criar'  %></td>
              </tr>
            </table>
          <%end%>
          <hr>
        </div>
	</div>