<% form_for @identificacao do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :codigo %>:<br />
    <%= f.text_field :codigo %>
  </p>
  <p>
    <%= f.label :livro, "Título" %>:<br />
    <%= f.text_field :livro %>
  </p>
  <p>
    <%= f.label :subtitulo %>:<br />
    <%= f.text_field :subtitulo %>
  </p>
  <p>
    <%= f.label :obs %>:<br />
    <%= f.text_area(:obs, :cols =>28, :rows => "2") %>
  </p>
  <p><%= f.submit "Salvar" %></p>
<% end %>
