  <div class="tabs">
    <table bgcolor="#DCDCDC" width="100%">
        <th width="350">Título</th>
        <th width="200">Subtítulo</th>
        <th colspan="4">Administração</th>
      <% for identificacao in @identificacaos %>
        <tr bgcolor="#F5F5F5">
          <td align="lef"><%=h identificacao.livro %></td>
          <td align="lef"><%=h identificacao.subtitulo %></td>
          <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), identificacao, :title => "Visualizar Titulo" %></td>
          <% if current_user.has_role?('admin') or current_user.has_role?('escola') or current_user.has_role?('responsavel')%>
            <td align="center"><%= link_to image_tag("/stylesheets/images/edit.png", :size => "15x15"), edit_identificacao_path(identificacao), :title => "Editar Titulo" %></td>
            <td align="center"><%= link_to image_tag("/stylesheets/images/excluir.png", :size => "15x15"), identificacao, :confirm => 'Tem certeza?', :method => :delete,  :title => "Excluir Titulo" %></td>
          <%else%>
            <td align="center"> --- </td>
            <td align="center"> --- </td>
          <%end%>
        </tr>
      <%end%>
    </table>
    <table bgcolor="#DCDCDC" width="100%">
      <tr>
        <td align="left" colspan="4"><%= will_paginate @identificacos %></td>
      </tr>
    </table>
  </div>