<% title "LIVROS & TÍTULOS" %>

<table>
  <tr>
    <th>Código</th>
    <th>Título</th>
    <th>Subtítulo</th>
    <th>Observação</th>
  </tr>
  <% for identificacao in @identificacaos %>
    <tr>
      <td><%=h identificacao.codigo %></td>
      <td><%=h identificacao.livro %></td>
      <td><%=h identificacao.subtitulo %></td>
      <td><%=h identificacao.obs %></td>
      <td>| <%= link_to "Visualizar", identificacao %></td>
      <td>| <%= link_to "Editar", edit_identificacao_path(identificacao) %></td>
      <td>| <%= link_to "Apagar", identificacao, :confirm => 'Tem certeza?', :method => :delete %> |</td>
    </tr>
  <% end %>
</table>

<p>| <%= link_to "Cadastrar", new_identificacao_path %> |</p>
