<% title "LIVROS & TÍTULOS" %>

<p>
  <strong>Código:</strong><%=h @identificacao.codigo %>
</p>
<p>
  <strong>Título:</strong><%=h @identificacao.livro %>
</p>
<p>
  <strong>Subtítulo:</strong><%=h @identificacao.subtitulo %>
</p>
<p>
  <strong>Observação:</strong><%=h @identificacao.obs %>
</p>

<p>
  | <%= link_to "Editar", edit_identificacao_path(@identificacao) %> |
  <%= link_to "Apagar", @identificacao, :confirm => 'Tem certeza?', :method => :delete %> |
  <%= link_to "Listar", identificacaos_path %> |
</p>
