<% title "TÍTULOS" %>
<div class ="tabs">
  <div id="topoShow"></div>
   <div id="caixa_titulo">
     <font size="3"><strong>TÍTULO</strong></font><br/>
   </div>
      <table  width="100%" bgcolor="#F5F5F5">
       <tr>
         <td width="10%"> <strong>Código:</strong> <%=h @identificacao.codigo %></td>
       </tr>
       <tr>
         <td width="10%"><strong>Título:</strong> <%=h @identificacao.livro %></td>
       </tr>
       <tr>
         <td width="10%"><strong>Subtítulo:</strong> <%=h @identificacao.subtitulo %></td>
       </tr>
       <tr>
         <td width="10%"><strong>Observação:</strong> <%=h @identificacao.obs %></td>
       </tr>
       <table>
          <tr>
            <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "35x35"), root_path, :title => "Voltar" %></td>
            <td width="6%"align="left" ><%= link_to image_tag("/stylesheets/images/listar.png", :size => "25x25"), identificacaos_path, :title => "Título Cadastradas" %></td>
            <% if current_user.has_role?('admin') or current_user.has_role?('escola') or current_user.has_role?('responsavel')%>
              <td width="6%"align="left" ><%= link_to image_tag("/stylesheets/images/edit.png", :size => "25x25"), edit_identificacao_path(@identificacao), :title => "Editar Título" %></td>
              <td width="6%"align="left" ><%= link_to image_tag("/stylesheets/images/excluir.png", :size => "25x25"), @identificacao, :confirm => 'Confirma Exclusão?', :method => :delete, :title => "Excluir Título" %></td>
              <td><%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "22x22"), new_identificacao_path, :title => "Cadastrar Título" %></td>
            <%else%>
                <td align="center"> </td>
                <td align="center"> </td>
                <td align="center"> </td>
            <%end%>

          </tr>
        </table>
</div>


