<% form_for @emprestimo, :html => {:name => "f1"} do |f| %>
<%= f.error_messages %>
  <table border="1">
    <tr>
      <td colspan="3" >
        Emprestimo para:
        <%= radio_button_tag(:type,"0") %> Alunos
        <%= radio_button_tag(:type,"1") %>Funcionários
      </td>
    </tr>
    <tr>
      <td>
        <div id="tipo_emprestimo">Selecione ----------------------------------></div>
      </td>
      <td id="aluno" class="aluno" style="display:none">
        <%= link_to image_tag("/stylesheets/images/buscar.png", :size => "28x22"), "#inline_content", :class =>"inline" %>
      </td>
      <td id="funcionario" class="professor" style="display:none">
        <%= link_to image_tag("/stylesheets/images/buscar.png", :size => "28x22"), "#inline_professor", :class =>"inline" %>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <%= check_box_tag :filtro_ambos,2 %>Ambos
        <%= radio_button_tag(:filtro,"0") %>Livros
        <%= radio_button_tag(:filtro,"1") %>Dicionario / Enciclopedias
        <%= observe_field 'filtro_0',
          :loading => "$('#status').show()" ,
          :success => "$('#status').hide()",
          :url    => { :action => 'filtros'},
          :with   => 'filtro_0' %>
        <%= observe_field 'filtro_1',
          :loading => "$('#status').show()" ,
          :success => "$('#status').hide()",
          :url    => { :action => 'filtros'},
          :with   => 'filtro_1' %>

        <%= observe_field 'filtro_ambos',
          :loading => "$('#status').show()" ,
          :success => "$('#status').hide()",
          :url    => { :action => 'filtros'},
          :with   => 'filtro_ambos' %>

        <div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div>
      </td>
    </tr>
      <div class="fields">
        <tr><td colspan="2">Livros / Dicionarios e Enciclopedias</td></tr>
        <tr id="fields">
          <td><%= select_tag("todos_dpu", options_for_select(@disponiveis.collect { |ff| [truncate(ff.lista , :length => 40, :omission => "..."), ff.id] }, @emprestimo.dpus.collect { |fs| fs.id }), {:multiple=>true, :id => "todos_dpus", :size => 5, :class => "lista_dpus"}) %></td>
          <td rowspan="1"><select multiple="multiple" name="emprestimo[dpu_ids][]" id="emprestimo_dpu_ids" class="lista_dpus"></select></td>
        </tr>
        <tr>
          <td><a class="botao" href="#" id="add_dpu">&gt;&gt;</a></td>
          <td><a class="botao" href="#" id="remove_dpu">&lt;&lt;</a></td>
        </tr>
      </div>
      <tr>
        <% dt_emprestimo =  Date.today%>
        <% dt_devolucao = dt_emprestimo + 3.days %>
        <td>Data de empréstimo<div id="data_emprestimo" class="data"><%= @emprestimo.data_devolucao.present? ? @emprestimo.data_emprestimo.strftime("%d/%m/%Y") : dt_emprestimo.strftime("%d/%m/%Y") %></div></td>
        <td>Data de devolução<div id="data_devolucao" class="data"><%= @emprestimo.data_devolucao.present? ? @emprestimo.data_devolucao.strftime("%d/%m/%Y") : dt_devolucao.strftime("%d/%m/%Y") %></div></td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.submit "Salvar" %>
        </td>
      </tr>
  </table>
<% end %>
<%= render "form_inline_content" %>
<%= render "form_inline_professor" %>



	<div style='display:none'>
		<div id='inline_emp_livro' style='padding:10px; background:#EEE9E9;'>
                  <table width="100%" >
                  <h2><%= current_user.unidade.nome %></h2>
                  <hr/>

                  <% form_remote_for :livro, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()",
                    :url => {:controller => :emprestimos,
                    :action => "dpu" } do |form| %>
                  <tr>
                    <td colspan="2">
                       <a href="#" class="filtro"><%= form.radio_button(:type_of, "0") %></a>Livros
                       <a href="#" class="filtro"><%= form.radio_button(:type_of, "1") %></a>Dicionario/Enciclopedia
                    </td>
                  </tr>
                  <tr>
                    <td width="65%"><b>Titulo:</b><%= form.text_field :dcu, :size=>"50%"%></td>
                    <td align ="left"><%= submit_tag "Filtrar", :name => nil %></td>
                  </tr>
                  <% end %>
                </table>
                <hr/>
                <br/>
                 <div id="livros"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
          </div>
	</div>