<% form_for @emprestimo do |f| %>
<%= f.error_messages %>
<table bgcolor="#F5F5F5">
  <tr>
    <td colspan="2">
      <%= f.label :tipo_emprestimo,"Emprestimo para:" %>
      <%= f.select :tipo_emprestimo, Emprestimo::Tipo, :include_blank => "--Selecionar--" %>
    </td>
  </tr>
  <tr>
    <td>
      <div id="retorna_pessoa"> <font size="2"><b>Clique no botão à frente e selecione a pessoa -------------------------------------------------------------------------------------------></b></font></div>
    </td>
    <td id="aluno" class="aluno" style="display:none">
      <%= link_to image_tag("/stylesheets/images/buscar.png", :size => "28x22"), "#inline_content", :class =>"inline" %>
    </td>
    <td id="funcionario" class="professor" style="display:none">
      <%= link_to image_tag("/stylesheets/images/buscar.png", :size => "28x22"), "#inline_professor", :class =>"inline" %>
    </td>
  </tr>
  <tr>
    <td>
      <ul id="retorna_livro"><font size="2"><b>Clique no botão a frente e selecione o livro.-----------------------------------------------------------------------------------------------></b></font></ul>
    </td>
    <td valign="top">
      <%= link_to image_tag("/stylesheets/images/livro2.png", :size => "35x35"), "#inline_emp_livro", :class =>"inline" %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= f.submit "Salvar" %>
    </td>
  </tr>
</table>
<% end %>
<%= render "form_inline_content" %>
<%= render "form_inline_professor" %>



	<div style='display:none'>
		<div id='inline_emp_livro' style='padding:10px; background:#fff;'>
                <table width="100%">
                  <h2><%= current_user.unidade.nome %></h2>
                  <hr/>

                  <% form_remote_for :livro, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()",
                    :url => {:controller => :emprestimos,
                    :action => "dpu" } do |form| %>
                  <tr>
                    <td>
                       <a href="#" class="filtro"><%= form.radio_button(:type_of, "0") %></a>Livros
                       <a href="#" class="filtro"><%= form.radio_button(:type_of, "1") %></a>Dicionario/Enciclopedia
                    </td>
                  </tr>
                  <tr>
                      <td><%= form.text_field :dcu %></td>
                      <td><%= submit_tag "Buscar", :name => nil %></td>
                  </tr>
                  <% end %>
                </table>
                <hr/>
                <br/>
                <div id="livros"></div>
        </div>
	</div>