<%if @pessoas.present?%>
<table border="1" class="tabelas" width="100%" align=" center">
  <tr>
    <th>Identificação</th>
    <th>Nome</th>
    <th>Escola</th>
    <th>Tipo</th>
  </tr>
  
    <% @pessoas.each do |pessoa| %>
      <tr>
        <td>
           <% if pessoa.aluno_ra.present? %>
              <%= link_to_remote(pessoa.aluno_ra, :success => "$.fn.colorbox.close()", :url => { :action => "retorno", :pessoa => pessoa.id_pessoa}) %>
             <%else%>             
             <% if pessoa.matricula_funcionario.present? %>
              <%= link_to_remote(pessoa.matricula_funcionario, :success => "$.fn.colorbox.close()", :url => { :action => "retorno", :pessoa => pessoa.id_pessoa}) %>
             <%end%>
           <%end%>
        </td>
        <td>
          <%= pessoa.nome %>
        </td>
        <td><%= pessoa.nome_escola.present? ? pessoa.nome_escola : "PMA" %></td>
        <td>
           <% if pessoa.aluno_ra.present? %>
            <%= "Aluno" %>
           <%else%>
            <%= "Funcionario" %>
           <%end%>
        </td>
      </tr>
    <%end%>
</table>
<%end%>
