 <div class="tabs">
   <ul>
     <li>Buscar Emprestimo por tombos</li>
   </ul>
   <% form_remote_tag :url => realiza_busca_emprestimos_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
         <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td>
               <a href="#" class="filtro"><%= "#{radio_button_tag(:busca_por, "1")}" %></a>Tombo
               <a href="#" class="sem_filtro"><%= "#{radio_button_tag(:busca_por, "2")}" %></a>Todos
            </td>
         </tr>
         <tr>
           <td><div class="consulta" style="display:none"> <%= render "/shared/consulta" %> </div></td>
         </tr>
        </table>
    <% end %>
    <br/>
    <hr/>
    <div id="devolucao"><div id='status' style='display:none;'><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
</div>
<a class="t">Testes 4</a>
        <%= render "shared/forms/form_emprestados"%>
