<% title "Realizar Devolução" %>
<div class ="tabs">
  <div id="topoShow"></div>
   <div id="caixa_titulo">
     <h3>EMPRESTIMO Nº <%= @devolucao.id %></h3>
   </div>
  <br/>
     <table  width="100%">
          <tr>
        <td><b>Nome:</b></td>
        <td><%= @devolucao.emprestado_para %></td>
      </tr>
      <tr>
        <td><b>RA:</b></td>
        <td><%= @devolucao.exibe_ra_mat %></td>
      </tr>
      <tr>
        <td><b>Data Devolução:</b></td>
        <% if @devolucao.data_devolucao.nil? %>
          <td></td>
        <%else%>
          <td><%= @devolucao.data_devolucao.strftime("%d/%m/%Y") %></td>
        <%end%>
      </tr>
      <tr>
        <td valign="top"><b>Itens Emprestados:</b></td>
        <td valign="top">
         <%@devolucao.dpus.each do |dpu|%>
            <% if dpu.livro_id.present? %>
               <b>-</b> <%= dpu.livro.identificacao.livro %> (Livro)<br/>
             <%else%>
               <% if dpu.dicionario_enciclopedia_id.present? %>
                  <b>-</b><%= dpu.dicionario_enciclopedia.identificacao.livro %> (Dicionário)<br/>
                <%end%>
              <%end%>
         <%end%>
      </td>
      </tr>
      <tr>
        <td>
          <% form_tag({:action => 'efetiva_devolver'}) do%>
            <%= hidden_field_tag(:id,@devolucao.id)   %>
            <%= submit_tag "Devolver!" %>
          <% end %>
        </td>
      </tr>
    </table>
</div>