<% title "Emprestimos" %>
<table>
  <%if @emprestimos.present?%>
    <tr>
      <th>Emprestado para</th>
      <th>RA / Matricula</th>
      <th>Data do empréstimo</th>
      <th>Data de devolução</th>
    </tr>
    <% for emprestimo in @emprestimos %>
      <tr>
        <td><%=h emprestimo.emprestado_para %></td>
        <td><%=h emprestimo.exibe_ra_mat %></td>
        <td><%=h emprestimo.data_emprestimo.strftime("%d/%m/%Y") %></td>
        <td><%=h emprestimo.data_devolucao.strftime("%d/%m/%Y") %></td>
        <td><%= link_to "Show", emprestimo %></td>
        <td><%= link_to "Edit", edit_emprestimo_path(emprestimo) %></td>
        <td><%= link_to "Destroy", emprestimo, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  <%else%>
      <h1><%= "Não existe emprestimos vigente" %></h1>
  <%end%>
</table>

<p><%= link_to "Emprestar", new_emprestimo_path %></p>
