<% title "Emprestimo" %>

<table class="divisoes">
  <th>Nome</th>
  <th>RA / Matricula</th>
  <th>Devolver em</th>
  <tr>
    <td><%= @emprestimo.emprestado_para %></td>
    <td><%= @emprestimo.exibe_ra_mat %></td>
    <td><%= @emprestimo.data_devolucao.strftime("%d/%m/%Y") %></td>
  </tr>
  <tr><td colspan="3">Livros emprestados</td></tr>
  <tr>
    <td colspan="3">
      <ul>
        <%@emprestimo.emprestimos_realizados.each do |er|%>
          <li><%= er.dpu.livro.identificacao.livro %></li>
        <%end%>
      </ul>
    </td>
  </tr>
</table>

<p>
  <%= link_to "Edit", edit_emprestimo_path(@emprestimo) %> |
  <%= link_to "Destroy", @emprestimo, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", emprestimos_path %>
</p>
