<% title "Emprestimo" %>

<table class="divisoes">
  <th>Nome</th>
  <th>RA / Matricula</th>
  <th>Devolver em</th>
  <tr>
    <td><%= @emprestimo.emprestado_para %></td>
    <td><%= @emprestimo.exibe_ra_mat %></td>
    <td><%= @emprestimo.data_devolucao.strftime("%d/%m/%Y") %></td>
  </tr>
  <tr><td colspan="3">Emprestimos realizados</td></tr>
  <tr>
    <td colspan="3">
      <ul>
        <%@emprestimo.dpus.each do |dpu|%>
          <% if dpu.livro_id.present? %>
            <b>Livros</b>
            <li><%= dpu.livro.identificacao.livro %></li>
          <%else%>
            <% if dpu.dicionario_enciclopedia_id.present? %>
              <b>Dicionario Enciclopedia</b>
              <li><%= dpu.dicionario_enciclopedia.identificacao.livro %></li>
            <%end%>
          <%end%>                       
        <%end%>
      </ul>
    </td>
  </tr>
</table>

<p>
  <%= link_to "Edit", edit_emprestimo_path(@emprestimo) %> |
  <%= link_to "Destroy", @emprestimo, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", emprestimos_path %>
</p>
