<% title "Emprestimo" %>

<p>
  <% if @emprestimo.tipo_emprestimo == 0 %>
    <strong>Professor:</strong>
    <% funcionario = Aluno.find(@emprestimo.funcionario) %>
    <%=h "#{funcionario.matricula_funcionario} | #{funcionario.nome}" %>
  <%else%>
    <strong>Aluno:</strong>
    <% aluno = Aluno.find(@emprestimo.aluno) %>
    <%=h "#{aluno.aluno_ra} | #{aluno.nome} | #{aluno.classe_descricao}" %>
  <%end%>
</p>

<p>
  <%= link_to "Edit", edit_emprestimo_path(@emprestimo) %> |
  <%= link_to "Destroy", @emprestimo, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", emprestimos_path %>
</p>
