<% title "Emprestimo" %>

<p>
  <strong>Tipo Emprestimo:</strong>
  <%=h @emprestimo.tipo_emprestimo %>
</p>
<p>
  <strong>Professor:</strong>
  <%=h "#{Aluno.find(@emprestimo.professor_id).matricula_funcionario} | #{Aluno.find(@emprestimo.professor_id).nome}" %>
</p>
<p>
  <% t = (@emprestimo.aluno).present? %>
  <%unless (@emprestimo.aluno).present?%>
  <strong>Aluno:</strong>
  <%=h @emprestimo.aluno %>
  <%end%>
</p>

<p>
  <%= link_to "Edit", edit_emprestimo_path(@emprestimo) %> |
  <%= link_to "Destroy", @emprestimo, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", emprestimos_path %>
</p>
