<%= "BEM VINDO AO BIBLOS - Sistema de Gerenciamento de Biblioteca" %><br/>
Sua unidade corrente é: <%= current_user.unidade.nome %>
<% title "Livros Cadastrados", :id =>"livros" %>
<%if @emprestimos.present? %>
  <div class="tabs">
  <table class="grid" >
    <thead>
      <tr>
        <th width="400">Emprestado para</th>
        <th width="100">Livro</th>
        <th width="100">Data de empréstimo</th>
        <th width="100">Data de devolução</th>
      </tr>
    </thead>
    <% for emprestimo in @emprestimos %>
      <tbody>
      <tr>

        <% emprestimo.livros.each do |livro|%>
          <td>
            <%= livro.identificacao.livro %>
          </td>
        <%end%>
      </tr>
      </tbody>
      <%= render "form_livro", :livro => livro %>
    <% end %>
  </table>
  <p><%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "25x25"), new_livro_path, :title => "Cadastrar livro" %></p>
  </div>
<%else%>
<h1>Esta unidade não possui empréstimos realizados</h1>
<%end%>