	<div style='display:none'>
		<div id='inline_local' style='padding:10px; background:#EEE9E9;'>
          <h2>LOCALIZAÇÃO - Unidade:<%= current_user.unidade.nome %></h2>

          <% form_remote_for(:localizacao,:url => { :action => 'create_local' }, :success => "$.fn.colorbox.close()") do |f|%>
            <%= error_messages_for 'local' %>
             <table  width="100%" bgcolor="#F5F5F5">
              <tr>
                <td><b><%= f.label :local_guardado,'Local  Guardado:' %></b></td>
                <td colspan="2">
                  <%= f.text_field :local_guardado %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.label :aquisicao, 'Forma Aquisição:' %>
                </td>
                <td colspan="2">
                  <%= f.select :aquisicao, Localizacao::FORMAAQUISICAO, :include_blank => '--Selecionar--'%>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.label :data_aquisicao,'Data Aquisição' %>
                </td>
                <td>
                  <%= f.date_select :data_aquisicao %>
                </td>
                <td><%= submit_tag 'Criar'  %>
                </td>
              </tr>
            </table>
          <%end%>
          <hr>
        </div>
	</div>