<% form_for @periodicos do |f| %>
  <%= f.error_messages %>
  <table  width="100%" bgcolor="#F5F5F5">
     <tr>
      <td align="lef">
          <b> <%= f.label :tombo_l, 'Tombo Local:' %></b><br />
          <%= f.text_field :tombo_l, :size => "10" %>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="lef">
          <b><%= f.label :titulo,  'Título:' %></b><br />
          <%= f.text_field :titulo, :size => "73" %>
      </td>
    </tr>
    <tr>
      <td align="lef">
          <b><%= f.label :subtitulo,  'Subtítulo:' %></b><br />
          <%= f.text_field :subtitulo, :size => "40" %>
      </td>
      <td align="lef">
          <b><%= f.label :colecao, 'Coleção:' %></b><br />
          <%= f.text_field :colecao, :size => "30" %>
      </td>
    </tr>
    <tr>
      <td align="lef">
         <b><%= f.label :tipo, 'Tipo:' %></b><br />
         <%= f.select :tipo, Periodico::TIPO_PERIODICO, :include_blank => '--Selecionar--'%>
      </td>
      <td align="lef">
         <b> <%= f.label :periodicidade, 'Periodicidade:' %></b><br />
         <%= f.select :periodicidade, Periodico::PERIODICIDADE, :include_blank => '--Selecionar--'%>
      </td>
    </tr>
    <tr>
      <td align="lef">
          <b><%= f.label :producao, 'Produção:' %></b><br />
          <%= f.text_field :producao%>
      </td>
      <td align="lef">
          <b><%= f.label :data_producao, 'Data:' %></b><br />
          <%= f.date_select(:data_producao, :order => [:day, :month,:year], :start_year => (Date.today.year)-10) %>
      </td>
    </tr>
    <tr>
      <td align="lef">
          <b><%= f.label :local_producao, 'Local Produção:' %></b><br />
          <%= f.text_field :local_producao%>
      </td>

    <tr>
      <td align="lef">
        <b><%= f.label :localizacao_id,"Selecionar a localização: " %></b>
        <%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "12x12"), "#inline_local" %>
        <div id="local"><%= render "shared/campos/campos_local"%></div>

      </td>
    </tr>
    <tr>
      <td align="lef">
          <b><%= f.label :obs, 'Observação;' %></b><br />
          <%= f.text_area :obs,:size => "30x3" %>
      </td>
    </tr>
    <tr>
      <td><%= f.submit'Salvar' %>
      </td>
    </tr>
   </table>
<% end %>

    <%= render "form_local" %>

