<% form_for @periodicos do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :tombo_seduc %><br />
    <%= f.text_field :tombo_seduc %>
  </p>
  <p>
    <%= f.label :tombo_l %><br />
    <%= f.text_field :tombo_l %>
  </p>
  <p>
    <%= f.label :issn %><br />
    <%= f.text_field :issn %>
  </p>
  <p>
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label :subtitulo %><br />
    <%= f.text_field :subtitulo %>
  </p>
  <p>
    <%= f.label :colecao %><br />
    <%= f.text_field :colecao %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.select :tipo, Periodico::TIPO_PERIODICO, :include_blank => '---Selecione---'%>
  </p>
  <p>
    <%= f.label :periodicidade %><br />
    <%= f.select :periodicidade, Periodico::PERIODICIDADE, :include_blank => '---Selecione---'%>

  </p>

  <p>
    <%= f.label :producao %><br />
    <%= f.text_field :producao %>
  </p>
  <p>
    <%= f.label :local_producao %><br />
    <%= f.text_field :local_producao %>
  </p>
  <p>
    <%= f.label :data_producao %><br />
    <%= f.date_select(:data_producao, :order => [:day, :month, :year], :start_year => (Date.today.year)-50) %>
  </p>
  <p>
    <%= f.label :localizacao_id %><br />
    <%= f.collection_select :localizacao_id ,@localizacoes,:id,:descricao, :include_blank => "Selecione" %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_area :obs %>
  </p>
  <p><%= f.submit %></p>
<% end %>
