<% form_for @periodicos do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :localizacao %><br />
    <%= f.text_field :localizacao %>
  </p>
  <p>
    <%= f.label :tombo_seduc %><br />
    <%= f.text_field :tombo_seduc %>
  </p>
  <p>
    <%= f.label :tombo_l %><br />
    <%= f.text_field :tombo_l %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p>
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label :subtitulo %><br />
    <%= f.text_field :subtitulo %>
  </p>
  <p>
    <%= f.label :colecao %><br />
    <%= f.text_field :colecao %>
  </p>
  <p>
    <%= f.label :producao %><br />
    <%= f.text_field :producao %>
  </p>
  <p>
    <%= f.label :periodicidade %><br />
    <%= f.text_field :periodicidade %>
  </p>
  <p>
    <%= f.label :issn %><br />
    <%= f.text_field :issn %>
  </p>
  <p>
    <%= f.label :local_producao %><br />
    <%= f.text_field :local_producao %>
  </p>
  <p>
    <%= f.label :data_producao %><br />
    <%= f.date_select :data_producao %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_field :obs %>
  </p>
  <p><%= f.submit %></p>
<% end %>
