 <div class="tabs">
   <div id="caixa_titulo">
    <font size="3"><strong>DE CADASTRADOS POR DIA</strong></font><br/>
   </div>
   <div class="tabs">
   <% atual_inicio = Date.today + 0.hours%>
   <% anterior_inicio = atual_inicio - 1.day%>

    <table width="100%" align="center" border="1" frame="box" rules="all" bgcolor="#F5F5F5">
      <% @users.each do |usuario| %>
        <th colspan="6" align="center">
          <%= "Login: #{usuario.login}" %>
        </th>
        <% busca = usuario.tombos.all(:include => [:dicionario_enciclopedia],:conditions => ["(created_at between ? and ?) and livro_id is null",atual_inicio,(atual_inicio + 23.hours + 59.minutes)]) %>
        <% busca_anterior = usuario.tombos.all(:include => [:dicionario_enciclopedia],:conditions => ["(created_at < ?) and livro_id is null", atual_inicio]) %>
        <tr>
          <td width="30%"><b> Anterior: </b><%=  busca_anterior.count %></td>
          <td width="30%"><b> Atual: </b><%= busca.count %></td>
          <td width="40%"><b> Total: </b><%= busca.count + busca_anterior.count %></td>
        </tr>
      <%end%>
    </table>
  <table>
    <tr>
     <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "35x35"), root_path, :title => "Voltar" %></td>
    </tr>
  </table>
  </div>
</div>