<%if @livros_per_user.present? %>
  <%if @no_livros_per_user.present?%>
    <h3><%= "#{@no_livros_per_user.count} livros excluídos por este usuário" %></h3>
  <%end%>
  <table width="100%" align="center" border="1" frame="box" rules="all">
    <th width="30%">Tombo Seduc</th>
    <th width="30%">Tombo Local</th>
    <th width="60%">Livro</th>
  <% @livros_per_user.each do |user| %>
    <tr>
      <td>
        <%= user.livro.id %>
      </td>
      <td>
        <% if (user.livro.tombo_l).present? %>
          <%= user.livro.tombo_l %>
        <%else%>
          <%= "<b>Sem Tombo</b>" %>
        <%end%>
      </td>
      <td>
        <%= user.livro.identificacao.livro %>
      </td>
    </tr>
  <%end%>
  </table>
<%end%>
