<% title "ÁREA DO CONHECIMENTO" %>
<div class="tabs">
<table class="grid">
  <thead>
  <tr>
    <th width="600">Nome</th>
    <th colspan="4">Administração</th>
  </tr>
  </thead>
  <% for area in @areas %>
    <tbody>
     <tr>
      <td><%=h area.nome %></td>
      <td><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), area, :title => "Visualizar Área" %></td>
      <td><%= link_to image_tag("/stylesheets/images/edit.png", :size => "15x15"), edit_area_path(area),  :title => "Editar Área" %></td>
      <td><%= link_to image_tag("/stylesheets/images/excluir.png", :size => "15x15"), area, :confirm => 'Tem certeza?', :method => :delete,  :title => "Excluir Área" %></td>
      </tr >
    </tbody>
  <% end %>
</table>

  <table>
    <tr>
     <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "35x35"), root_path, :title => "Voltar" %></td>
     <td><%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "22x22"), new_area_path, :title => "Cadastrar Área" %></td>
    </tr>
  </table>
</div>

