<% form_for @jogos do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :tombo_seduc %><br />
    <%= f.text_field :tombo_seduc %>
  </p>
  <p>
    <%= f.label :tombo_l %><br />
    <%= f.text_field :tombo_l %>
  </p>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :faixa_etaria %><br />
    <%= f.select :faixa_etaria, Jogo::FAIXA_ETARIA, :include_blank => '---Selecione---'%>
 </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p>
    <%= f.label :fabricante %><br />
    <%= f.text_field :fabricante %>
  </p>
  <p>
    <%= f.label :localizacao_id %><br />
    <%= f.collection_select :localizacao_id ,@localizacoes,:id,:descricao, :include_blank => "Selecione" %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_area :obs %>
  </p>
  <p><%= f.submit %></p>
<% end %>
