<% form_for @jogos do |f| %>
  <%= f.error_messages %>
  <table width="100%" bgcolor="#F5F5F5">
     <tr>
      <td align="lef">
          <b><%= f.label :tombo_l, 'Tombo Local:' %></b><br />
          <%= f.text_field :tombo_l, :size => "10" %>
      </td>
    <tr>
    </tr>
      <td align="lef">
          <b><%= f.label :nome, 'Nome:' %></b><br />
          <%= f.text_field :nome %>
      </td>
      <td align="lef">
          <b><%= f.label :faixa_etaria, 'Faixa Etária:' %></b><br />
          <%= f.select :faixa_etaria, Jogo::FAIXA_ETARIA, :include_blank => '---Selecione---'%>
      </td>
    <tr>
    </tr>
      <td align="lef">
          <b><%= f.label :tipo,'Tipo:' %></b><br />
          <%= f.text_field :tipo %>
      </td>
      <td align="lef">
          <b><%= f.label :fabricante, 'Fabricante:' %></b><br />
          <%= f.text_field :fabricante %>
      </td>
    <tr>
    </tr>
      <td align="lef">
        <b><%= f.label :localizacao_id,"Selecione a localização: " %></b>
        <%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "12x12"), "#inline_local", :class =>"inline" %>
        <div id="local"><%= render "campos_local"%></div>

      </td>
    <tr>
    </tr>
      <td align="lef">
          <b><%= f.label :obs, 'Observação:' %></b><br />
          <%= f.text_area :obs,:size => "30x3" %>
      </td>
    <tr>
    </tr>
      <td><%= f.submit'Salvar' %>
      </td>
    </tr>
   </table>
<% end %>

    <%= render "form_local" %>
