<h1>Editing midia</h1>

<% form_for(@midia) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :genero %><br />
    <%= f.text_field :genero %>
  </p>
  <p>
    <%= f.label :localizacao %><br />
    <%= f.text_field :localizacao %>
  </p>
  <p>
    <%= f.label :tomboL %><br />
    <%= f.text_field :tomboL %>
  </p>
  <p>
    <%= f.label :tomboS %><br />
    <%= f.text_field :tomboS %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p>
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label :subtitulo %><br />
    <%= f.text_field :subtitulo %>
  </p>
  <p>
    <%= f.label :producao %><br />
    <%= f.text_field :producao %>
  </p>
  <p>
    <%= f.label :local_producao %><br />
    <%= f.text_field :local_producao %>
  </p>
  <p>
    <%= f.label :data_producao %><br />
    <%= f.datetime_select :data_producao %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_field :obs %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @midia %> |
<%= link_to 'Back', midias_path %>