<p>
  <b>Genero:</b>
  <%=h @midia.genero %>
</p>

<p>
  <b>Localizacao:</b>
  <%=h @midia.localizacao %>
</p>

<p>
  <b>Tombol:</b>
  <%=h @midia.tomboL %>
</p>

<p>
  <b>Tombos:</b>
  <%=h @midia.tomboS %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @midia.tipo %>
</p>

<p>
  <b>Titulo:</b>
  <%=h @midia.titulo %>
</p>

<p>
  <b>Subtitulo:</b>
  <%=h @midia.subtitulo %>
</p>

<p>
  <b>Producao:</b>
  <%=h @midia.producao %>
</p>

<p>
  <b>Local producao:</b>
  <%=h @midia.local_producao %>
</p>

<p>
  <b>Data producao:</b>
  <%=h @midia.data_producao %>
</p>

<p>
  <b>Obs:</b>
  <%=h @midia.obs %>
</p>


<%= link_to 'Edit', edit_midia_path(@midia) %> |
<%= link_to 'Back', midias_path %>