<% form_for @mapas do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :editora %><br />
    <%= f.text_field :editora %>
  </p>
  <p>
    <%= f.label :localizacao %><br />
    <%= f.text_field :localizacao %>
  </p>
  <p>
    <%= f.label :tombo_seduc %><br />
    <%= f.text_field :tombo_seduc %>
  </p>
  <p>
    <%= f.label :tombo_l %><br />
    <%= f.text_field :tombo_l %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p>
    <%= f.label :subtitulo %><br />
    <%= f.text_field :subtitulo %>
  </p>
  <p>
    <%= f.label :ano %><br />
    <%= f.date_select :ano %>
  </p>
  <p>
    <%= f.label :formato %><br />
    <%= f.text_field :formato %>
  </p>
  <p>
    <%= f.label :data_edicao %><br />
    <%= f.date_select :data_edicao %>
  </p>
  <p>
    <%= f.label :local_edicao %><br />
    <%= f.text_field :local_edicao %>
  </p>
  <p>
    <%= f.label :edicao %><br />
    <%= f.text_field :edicao %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_area :obs %>
  </p>
  <p><%= f.submit %></p>
<% end %>
