<% title "MAPAS", :id =>"mapas" %>
 <div class="tabs">
   <div id="caixa_titulo">
    <font size="3"><strong>CONSULTAS MAPAS</strong></font><br/>
  </div>
  <div class="tabs">
    <% form_remote_tag :url => consultaMap_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
         <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td>
               <a href="#" class="filtro"><%= radio_button_tag(:type_of, "1") %></a>Título
               <a href="#" class="filtro"><%= radio_button_tag(:type_of, "2") %></a>Subtítulo
               <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "3") %></a>Todos
            </td>
         </tr>
         <tr>
           <td><div class="consulta" style="display:none"> <%= render "/shared/consulta" %> </div></td>
         </tr>
        </table>
    <% end %>
    <br/>
    <hr>
    <div id="mapas"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
    <br/>
  <table>
    <tr>
     <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "35x35"), root_path, :title => "Voltar" %></td>
     <td align="left"><%= link_to image_tag("/stylesheets/images/consulta.png", :size => "40x40"), consultaMap_path, :title => "Nova Consulta" %></td>
    </tr>
  </table>
 </div>
 </div>


