<% title "Mapas" %>

<table>
  <tr>

    <th>Tombo Seduc</th>
    <th>Tombo L</th>
    <th>Titulo</th>
    <th>Subtitulo</th>
    <th>Tipo</th>
    <th>Ano</th>
    <th>Formato</th>
    <th>Editora</th>
    <th>Edicao</th>
    <th>Localizacao</th>
    <th>Obs</th>
  </tr>
  <% for mapas in @mapas %>
    <tr>
      <td><%=h mapas.tombo_seduc %></td>
      <td><%=h mapas.tombo_l %></td>
      <td><%=h mapas.titulo %></td>
      <td><%=h mapas.subtitulo %></td>
      <td><%=h mapas.tipo %></td>
      <td><%=h mapas.ano.strftime("%Y") %></td>
      <td><%=h mapas.formato %></td>
      <td><%=h mapas.editora.nome %></td>
      <td><%=h mapas.edicao %></td>
      <td><%=h mapas.local_edicao %></td>
      <td><%=h mapas.localizacao %></td>
      <td><%=h mapas.obs %></td>
      <td><%= link_to "Show", mapas %></td>
      <td><%= link_to "Edit", edit_mapa_path(mapas) %></td>
      <td><%= link_to "Destroy", mapas, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Mapas", new_mapa_path %></p>
