<% title "MAPAS", :id =>"mapas" %>
<div class="tabs">
<table class="grid" >
  <thead>
    <tr>
      <th width="300">Título</th>
      <th width="210">Subtítulo</th>
      <th width="50">Formato</th>
      <th width="25">Ano</th>
      <th colspan="3">Administração</th>
    </tr>
  </thead>
  <% for mapa in @mapas %>
    <tbody>
    <tr>
      <td><%=h mapa.titulo %></td>
      <td><%=h mapa.subtitulo %></td>
      <td><%=h mapa.formato %></td>
      <td><%=h mapa.ano.strftime("%Y") %></td>
      <td><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), mapa, :title => "Exibir Mapa" %></td>
      <td><%= link_to image_tag("/stylesheets/images/edit.png", :size => "15x15"), edit_mapa_path(mapa), :title => "Editar Mapa" %></td>
      <td><%= link_to image_tag("/stylesheets/images/excluir.png", :size => "15x15"), mapa, :confirm => 'Confirma?', :method => :delete, :title => "Excluir Mapa" %></td>
    </tr>
    </tbody>
    
  <% end %>
</table>
  <table>
    <tr>
     <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "35x35"), root_path, :title => "Voltar" %></td>
     <td><%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "20x20"), new_mapa_path, :title => "Cadastrar livro" %></td>
    </tr>
  </table>
</div>
