<% title "Mapas" %>

<p>
  <strong>Localizacao:</strong>
  <%=h @mapas.localizacao %>
</p>
<p>
  <strong>Tombo Seduc:</strong>
  <%=h @mapas.tombo_seduc %>
</p>
<p>
  <strong>Tombo L:</strong>
  <%=h @mapas.tombo_l %>
</p>
<p>
  <strong>Titulo:</strong>
  <%=h @mapas.titulo %>
</p>
<p>
  <strong>Subtitulo:</strong>
  <%=h @mapas.subtitulo %>
</p>
  <p>
  <strong>Tipo:</strong>
  <%=h @mapas.tipo %>
</p>
<p>
  <strong>Ano:</strong>
  <%=h @mapas.ano.strftime("%Y") %>
</p>
<p>
  <strong>Formato:</strong>
  <%=h @mapas.formato %>
</p>
<p>
  <strong>Editora:</strong>
  <%=h @mapas.editora.nome %>
</p>
<p>
  <strong>Edicao:</strong>
  <%=h @mapas.edicao %>
</p>
<p>
  <strong>Local Edicao:</strong>
  <%=h @mapas.local_edicao %>
</p>
<p>
  <strong>Obs:</strong>
  <%=h @mapas.obs %>
</p>

<p>
  <%= link_to "Edit", edit_mapa_path(@mapas) %> |
  <%= link_to "Destroy", @mapas, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", mapas_path %>
</p>
