<% title "Itens Emprestimos" %>

<table>
  <tr>
    <th>Emprestimo</th>
    <th>Audio Visual</th>
    <th>Livro</th>
    <th>Dicionario Enciclopedia</th>
    <th>Mapas</th>
    <th>Periodico</th>
    <th>Jogo</th>
  </tr>
  <% for itens_emprestimo in @itens_emprestimos %>
    <tr>
      <td><%=h itens_emprestimo.emprestimo %></td>
      <td><%=h itens_emprestimo.audio_visual %></td>
      <td><%=h itens_emprestimo.livro %></td>
      <td><%=h itens_emprestimo.dicionario_enciclopedia %></td>
      <td><%=h itens_emprestimo.mapas %></td>
      <td><%=h itens_emprestimo.periodico %></td>
      <td><%=h itens_emprestimo.jogo %></td>
      <td><%= link_to "Show", itens_emprestimo %></td>
      <td><%= link_to "Edit", edit_itens_emprestimo_path(itens_emprestimo) %></td>
      <td><%= link_to "Destroy", itens_emprestimo, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Itens Emprestimo", new_itens_emprestimo_path %></p>
