	<div style='display:none'>
		<div id='inline_busca' style='padding:10px; background:#EEE9E9;'>
          <h2>DICIONÁRIOS & ENCICLOPÉDIAS</h2>
          <hr>
          <% form_remote_for(:busca,:url => { :action => 'filtrar' },:loading => "$('#status').show()", :success => "$('#status').hide()" ) do |f|%>
            <%= error_messages_for 'contact' %>
          <table>
            <tr>
              <td colspan="3"><font  color="red"><b><u> OBSERVAÇÕES:</u> </b></font>
                <b>  Para consultar se o título já está cadastrados: </b><br/></td>
             </tr>
            <tr>
                <td colspan="3">
                  <b>1) Digitar <u>SOMENTE</u> as duas primeiras palavras do título</b>.<br/> Ex: O titulo<u>"O MEU PRIMEIRO DICIONÁRIO"</u>, digitar  <u>"MEU PRIMEIRO"</u>.
                </td>
            </tr>
              <tr>
                <td colspan="3">
                  <b>2) NÃO considerar as letras O(S), A(S), UM(S), UMA(S) dos títulos.</b> <br/> Ex: O titulo <u>"O DICIONÁRIO"</u>, digitar somente <u>"DICIONÁRIO"</u>
                </td>

              </tr>
              <tr>
                <th width="5%">
                  <b>Título:</b>
                </th>
                <td width="40%" align="left">
                  <%= f.text_field :busca, :size => 60 %>
                </td>
                <td><%= submit_tag 'Filtrar'  %></td>
              </tr>
            </table>
          <%end%>
           <font  color="red" size="1">
             <b>Caso o <i>Título</i> não esteja cadastrado clicar </font> </b>
           </font>
          <%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "12x12"), "#inline_titulo", :class =>"inline" %>

          <br/>
            <div id="lista_dicionarios"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
        </div>
	</div>
 