<% form_for @dicionario_enciclopedia do |f| %>
  <%= f.error_messages %>
  <table align="center" width="100%" bgcolor="#F5F5F5">
    <tr>
      <td colspan="3" >
        <b><%= f.label :tombo_l, "Tombo Local:"%></b><br />
        <%= f.text_field :tombo_l, :size => "10" %>
        
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <b><%= f.label :identificacao_id,"Título: " %>
        <font  size="1"><%unless @dicionario_enciclopedia.identificacao_id.present?%>( Para selecionar o  <i>Título</i> clicar dentro da caixa de texto.)<%end%></font> </b><br/>
        <%if @dicionario_enciclopedia.identificacao_id.present?%>
           <%= @dicionario_enciclopedia.identificacao.livro%>
        <%else%>
           <a class='inline' href="#inline_busca"><div id="identificacao"></div></a>
        <%end%>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <div id= 'subtitulo' style="margin-left: 16px"></div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
      </td>
    </tr>
    <tr>
      <td colspan="2" width="55%">
        <b><%= f.label :colecao, "Coleção:" %></b><br />
        <%= f.text_field :colecao, :size => "45" %>
      </td>
      <td>
        <b><%= f.label :volume, "Volume:" %></b><br />
        <%= f.text_field :volume, :size =>"2" %>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <b><%= f.label :localizacao_id,"Localização: " %></b>
        <%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "12x12"), "#inline_local", :class =>"inline" %>
        <div id="local"><%= render "campos_local"%></div>
      </td>
    </tr>
    <tr>
     <td>
        <b><%= f.label :editora_id%></b>
        <%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "12x12"), "#inline_editora", :class =>"inline"%><br />
        <%= f.collection_select :editora_id ,@editoras,:id,:nome, :include_blank => "Selecione" %>
      </td>
      <td colspan="2">
        <b><%= f.label :tipo,"Tipo: " %></b><br/>
        <%= f.select :tipo, DicionarioEnciclopedia::TIPO_DIC_ENC, :include_blank => '---Selecione---'%>
      </td>
    <tr/>
    <tr>
      <td>
        <b><%= f.label :local_edicao, "Local Edição:" %></b><br/>
        <%= f.text_field :local_edicao, :size => "30" %>
      </td>
      <td colspan="2">
        <b><%= f.label :data_edicao, "Data:" %></b><br/>
        <%= f.date_select(:data_edicao, :order => [:year], :start_year => (Date.today.year)-50) %>
     </td>
    </tr>
    <tr>
      <td colspan="3">
        <b><%= f.label :obs, 'Observação:' %></b><br/>
        <%= f.text_area :obs, :size => "30x3" %>
      </td>
    </tr>
    <tr>
      <td colspan="3"><%= f.submit "Salvar" %></td>
    </tr>
  <% end %>
</table>

    <%= render "form_editora" %>
    <%= render "form_local" %>
    <%= render "form_busca" %>
