<% title "DICIONÁRIOS & ENCICLOPÉDIAS", :id =>"dicionario_enciclopedias" %>
 <div class="tabs">
   <div id="caixa_titulo">
    <font size="3"><strong>CONSULTAS DICIONÁRIOS E ENCICLOPÉDIAS</strong></font><br/>
  </div>
  <div class="tabs">
   <% form_tag consultaDic_path :method => 'get' do %>
     <table width="100%" align="center" bgcolor="#DCDCDC" >
      <tr>
        <td>
           <%= radio_button_tag(:type_of, "1") %>Dicionário
           <%= radio_button_tag(:type_of, "2") %>Enciclopédia
           <%= radio_button_tag(:type_of, "3") %>Outros
           <%= radio_button_tag(:type_of, "4") %>Todos
        </td>
     </tr>
    </table>

  </div>




  <div class="tabs">
  <br/>
  <table width="100%" align="center" >
    <tr>
       
         <td  colspan="2"align="right"><font size="4"> Digitar dado para consulta:</font>
         <%= text_field_tag :search, params[:search] %>
         <%= submit_tag "Filtrar", :livro => nil %>
       </td>
      
   </tr>
  </table>
 <% end %>
  <br/>
  <hr>
  <div class="tabs">
   <table bgcolor="#DCDCDC" width="100%">
         <tr>
           <th width="40%">Titulo</th>
           <th width="25%">Subitítulo</th>
           <th width="20%">Coleção</th>
           <th align="center">Vol.</th>
           <th colspan="3">Administração</th>
         </tr>

        <% for dicionario_enciclopedia in @dicionario_enciclopedias %>
          <tr  bgcolor="#F5F5F5">
            <td><%=h dicionario_enciclopedia.identificacao.livro %></td>
            <td><%=h dicionario_enciclopedia.identificacao.subtitulo %></td>
            <td><%=h dicionario_enciclopedia.colecao %></td>
            <td align="center"><%=h dicionario_enciclopedia.volume %></td>
            <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), dicionario_enciclopedia, :title => "Exibir livro" %></td>
            <td align="center"><%= link_to image_tag("/stylesheets/images/edit.png", :size => "15x15"), edit_livro_path(dicionario_enciclopedia), :title => "Editar livro" %></td>
            <td align="center"><%= link_to image_tag("/stylesheets/images/excluir.png", :size => "15x15"), dicionario_enciclopedia, :confirm => 'Confirma?', :method => :delete, :title => "Excluir livro" %></td>
          </tr>
        <% end %>
      </table>
      <%if ($t==1)%>
      <table bgcolor="#DCDCDC" width="100%">
         <tr >
           <td align="left" colspan="4"><%= will_paginate @dicionario_enciclopedias%></td>
       </tr>
      </table>
      <%end%>
   </div>

  <table>
    <tr>
     <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "35x35"), root_path, :title => "Voltar" %></td>
     <td align="left"><%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "20x20"), consultaDic_path, :title => "Nova Consulta" %></td>
    </tr>
   
  </table>
  </div>
</div>


