<% title "Dicionario Enciclopedia" %>


<p>
  <strong>Area:</strong>
  <%=h @dicionario_enciclopedia.area.nome %>
</p>
<p>
  <strong>Tipo:</strong>
  <%=h @dicionario_enciclopedia.tipo %>
</p>
<p>
  <strong>Tombo Seduc:</strong>
  <%=h @dicionario_enciclopedia.tombo_seduc %>
</p>
<p>
  <strong>Tombo L:</strong>
  <%=h @dicionario_enciclopedia.tombo_l %>
</p>

<p>
  <strong>Título:</strong>
  <%=h @dicionario_enciclopedia.identificacao.livro %>
</p>
<p>
  <strong>Sub-título:</strong>
  <%=h @dicionario_enciclopedia.identificacao.subtitulo %>
</p>
<p>
  <strong>Colecao:</strong>
  <%=h @dicionario_enciclopedia.colecao %>
</p>
<p>
  <strong>Volume:</strong>
  <%=h @dicionario_enciclopedia.volume %>
</p>
<p>
  <strong>Editora:</strong>
  <%=h @dicionario_enciclopedia.editora.nome %>
</p>
<p>
  <strong>Data Edicao:</strong>
  <%=h @dicionario_enciclopedia.data_edicao %>
</p>
<p>
  <strong>Local Edicao:</strong>
  <%=h @dicionario_enciclopedia.local_edicao %>
</p>
<p>
  <strong>Localizacao:</strong>
  <%=h @dicionario_enciclopedia.localizacao %>
</p>
<p>
  <strong>Obs:</strong>
  <%=h @dicionario_enciclopedia.obs %>
</p>

<p>
  <%= link_to "Edit", edit_dicionario_enciclopedia_path(@dicionario_enciclopedia) %> |
  <%= link_to "Destroy", @dicionario_enciclopedia, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", dicionario_enciclopedias_path %>
</p>
