<% title "Autores cadastrados" %>

<table>
  <tr>
    <th>Nome</th>
  </tr>
  <% for autor in @autores %>
    <tr>
      <td><%=h autor.nome %></td>
      <td>| <%= link_to "Visualizar", autor %></td>
      <td>| <%= link_to "Editar", edit_autor_path(autor) %></td>
      <td>| <%= link_to "Apagar", autor, :confirm => 'Tem certeza?', :method => :delete %> |</td>
    </tr>
  <% end %>
</table>

 <p>| <%= link_to "Cadastrar", new_autor_path %> |</p>
