<% form_for @livro do |f| %>
  <%= f.error_messages %>
  <table border="1" align="center" bgcolor="#F5F5F5">
    <tr>
      <td colspan="3" >
        <b>Tombo Local:</b>
        <%= radio_button_tag(:type,"0") %>Multi-Tombos
        <%= radio_button_tag(:type,"1") %>Único
      </td>
    </tr>
    <tr>
          <td colspan="3">
            <div id="tipo_tombo" style="display:none">
              <table>
                <tr>
                  <td>
                    <b><%= f.label :qtde_livros, "Qtde:" %></b>
                  </td>
                  <td>
                    <b><%= f.label :lista_tombos, "Tombo(s):" %></b>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= f.text_field :qtde_livros, :size => "2" %>
                  </td>
                  <td>
                   <%= f.text_field :lista_tombos, :size => "70"%>
                  </td>
                </tr>
              </table>
            </div>
            <div id="exibe_aviso" style="display:none"><b>Separar os números dos tombos por ';'</b></div>
          </td>
      </tr>

    <tr>
      <td colspan="3">
        <b><%= f.label :identificacao_id,"Título: " %>
         <font  color="red" size="1"><%unless @livro.identificacao_id.present?%>( Para selecionar o  <i>Título</i> clicar dentro da caixa de texto) <%end%></font> </b><br/>
        <%if @livro.identificacao_id.present?%>
          <%= @livro.identificacao.livro%>
        <%else%>
          <a class='inline' href="#inline_busca"><div id="identificacao">Selecionar Título</div></a>
        <%end%>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <div id= 'subtitulo' style="margin-left: 16px"></div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <b><%= f.label :colecao, "Coleção:" %></b><br />
        <%= f.text_field :colecao, :size => "55" %>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <b><%= f.label :autor_id, "Autor(es). " %></b><br/>
        <b><i><font color="red" size="1">
         (Caso não conste o nome do autor na lista abaixo, favor entrar em contato com a Informática SEDUC e solicitar a inclusão)
      </font></i></b>
        <div id="autor"><%= render "shared/campos/campos_autor"%></div>
      </td>
    </tr>
    <tr>
       <td colspan="3">
        <b><%= f.label :area_id,"Area: " %></b>
        <b><i><font color="red" size="1">
         (Caso não conste a Área na lista abaixo, favor entrar em contato com a Informática SEDUC e solicitar a inclusão)
         </font></i></b><br/>
        <%= f.collection_select :area_id ,@areas,:id,:nome, :include_blank => "--Selecionar--" %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= f.label :localizacao_id,"Localização: " %></b>
        <%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "12x12"), "#inline_local", :class =>"inline"%>
        <div id="local"><%= render "shared/campos/campos_local"%></div>
      </td>
      <td width="75%">
      </td>
    </tr>
    <tr>
      <td>
          <b><%= f.label :editora_id, "Editora: " %></b>
        <div id="editora"><%= render "shared/campos/campos_editora"%></div>
      </td>
      <td colspan="2">
        <br />
        <%= f.text_field :edicao, :size => "1" %><b>ª<%= f.label :edicao, " Edição" %></b>
        - <b><%= f.label :data_edicao, "Data:" %></b>
        <%= f.date_select(:data_edicao, :order => [:year], :start_year => (Date.today.year)-50) %>
     </td>
    </tr>
    <tr>
      <td colspan="3">
        <b><%= f.label :assunto_id, "Assunto(s). " %></b>
        <%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "12x12"), "#inline_assunto", :class =>"inline"%>
      </td>
    </tr>
    <tr id="assuntos">
      <td><%= render "shared/campos/campos_assunto"%></td>
    </tr>
    <tr>
      <td>
        <b><%= f.label :resumo, 'Resumo:' %></b><br />
        <%= f.text_area :resumo, :size => "34x3" %>
      </td>
      <td colspan="2">
        <b><%= f.label :obs, 'Observação:' %></b><br />
        <%= f.text_area :obs, :size => "34x3" %>
      </td>
    </tr>
    <tr>
      <td colspan="3"><%= f.submit "Salvar" %></td>
    </tr>
</table>

<% end %>
    <%= render "shared/forms/form_editora" %>
    <%= render "shared/forms/form_autor" %>
    <%= render "shared/forms/form_titulo" %>
    <%= render "shared/forms/form_assunto" %>
    <%= render "shared/forms/form_local" %>
    <%= render "form_busca" %>