<% form_for @livro do |f| %>
  <%= f.error_messages %>
  <table  align="center" bgcolor="#F5F5F5">
    <tr>
      <td >
        <b><%= f.label :tombo_l, "Tombo Local:"%></b><br />
        <%= f.text_field :tombo_l, :size => "10" %>
      </td>
      <td colspan="2">
        <b>Para selecionar o  <i>Título</i> clicar caixa dentro da caixa.      </b>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <b><%= f.label :identificacao_id,"Título: " %></b><br/>
        <a class='inline' href="#inline_busca"><div id="identificacao"></div></a>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <div id= 'subtitulo' style="margin-left: 16px"></div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <b><%= f.label :colecao, "Coleção:" %></b><br />
        <%= f.text_field :colecao, :size => "55" %>
      </td>
    </tr>
    <tr>
      <td><b><i>
         Para selecionar mais de um autor <br/> precionar a tecla <i>CTRL</i> e selecionar <br/>as opções desejadas ===========>
      </i></b>
      </td>
      <td colspan="2">
        <b><%= f.label :autor_id, "Autor(es). " %></b>
        <%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "12x12"), "#inline_autor", :class =>"inline" %>
        <div id="autor"><%= render "campos_autor"%></div>     
      </td>
    </tr>
    <tr>
       <td colspan="3">
        <b><%= f.label :area_id,"Area: " %></b><br/>
        <%= f.collection_select :area_id ,@areas,:id,:nome, :include_blank => "Selecione" %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= f.label :localizacao_id,"Localização: " %></b>
        <%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "12x12"), "#inline_local", :class =>"inline"%>
        <div id="local"><%= render "campos_local"%></div>
      </td>
      <td width="75%">
      </td>
    </tr>
    <tr>
      <td>
        <b><%= f.label :editora_id %></b><br />
        <%= f.collection_select :editora_id ,@editoras,:id,:nome, :include_blank => "Selecione" %>
      </td>
      <td colspan="2">
        <br />
        <%= f.text_field :edicao, :size => "1" %><b>ª<%= f.label :edicao, " Edição" %></b>
      </td>
    <tr/>
    <tr>
      <td>
        <b><%= f.label :local_edicao, "Local Edição:" %></b><br />
        <%= f.text_field :local_edicao, :size => "30" %>
      </td>
      <td colspan="2">
        <b><%= f.label :data_edicao, "Data:" %></b><br />
        <%= f.date_select(:data_edicao, :order => [:year], :start_year => (Date.today.year)-50) %>
     </td>
    </tr>
    <tr>
      <td><b><i>
         Para selecionar mais de um assunto <br/> precionar a tecla <i>CTRL</i> e selecionar <br/>as opções desejadas ===========>
      </i></b>
      </td>
      <td colspan="2">
        <b><%= f.label :assunto_id, "Assunto(s). " %></b>
        <%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "12x12"), "#inline_assunto", :class =>"inline"%>
        <div id="assuntos"><%= render "campos_assunto"%></div>        
      </td>
    </tr>
    <tr>
      <td>
        <b><%= f.label :resumo, 'Resumo:' %></b><br />
        <%= f.text_area :resumo, :size => "30x3" %>
      </td>
      <td colspan="2">
        <b><%= f.label :obs, 'Observação:' %></b><br />
        <%= f.text_area :obs, :size => "30x3" %>
      </td>
    </tr>
    <tr>
      <td colspan="3"><%= f.submit "Salvar" %></td>
    </tr>
  <% end %>
</table>
    
    <%= render "form_autor" %>
    <%= render "form_assunto" %>
    <%= render "form_local" %>
    <%= render "form_busca" %>