<% form_for @livro do |f| %>
  <%= f.error_messages %>
  <p><div id="aviso"></div></p>
  <table align="center">
    <tr>
      <td colspan="3">
        <%= f.label :identificacao_id,"Título: " %><br/>
        <%= f.collection_select :identificacao_id ,@identificacoes,:id,:livro, :include_blank => "Selecione" %>
      </td>
    <tr>
      <td colspan="3">
        <%= observe_field 'livro_identificacao_id',
                          :with => :livro_identificacao_id,
                          :url => { :action => 'subtitulo' } ,
                          :update => "subtitulo"%>
        <div id= 'subtitulo'></div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <%= f.label :colecao, "Coleção:" %><br />
        <%= f.text_field :colecao, :size => "59" %>
      </td>
    </tr>
    <tr>
       <td>
        <%= f.label :area_id,"Area: " %><br/>
        <%= f.collection_select :area_id ,@areas,:id,:nome, :include_blank => "Selecione" %>
      </td>
      <td>
        <%= f.label :tombo_l, "Tombo Local:"%><br />
        <%= f.text_field :tombo_l, :size => "10" %>
      </td>
      <td>       
        <%= f.label :autor_id, "Selecione o(s) autor(es). " %>
        <%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "12x12"), "#inline_assunto", :class =>"inline", :title => "Novo Autor" %>
        <div id="autor"><%= render "campos_autor"%></div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <%= f.label :localizacao_id,"Selecione a localização: " %>
        <%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "12x12"), "#inline_local", :class =>"inline", :title => "Nova Localização" %>
        <div id="local"><%= render "campos_local"%></div>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :editora_id %><br />
        <%= f.collection_select :editora_id ,@editoras,:id,:nome, :include_blank => "Selecione" %>
      </td>
      <td colspan="2">
        <br />
        <%= f.text_field :edicao, :size => "1" %>ª<%= f.label :edicao, " Edição" %>
      </td>
    <tr/>
    <tr>
      <td>
        <%= f.label :local_edicao, "Local Edição:" %><br />
        <%= f.text_field :local_edicao, :size => "30" %>
      </td>
      <td colspan="2">
        <%= f.label :data_edicao, "Data:" %><br />
        <%= f.date_select(:data_edicao, :order => [:year], :start_year => (Date.today.year)-50) %>
     </td>
    </tr>
    <tr>
      <td><b><i>
         Para selecionar mais de um assunto <br/> selecionar as opções desejadas ===>
      </i></b>
      </td>
      <td colspan="2">
        <%= f.label :assunto_id, "Selecione o(s) assunto(s). " %>
        <%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "12x12"), "#inline_assunto", :class =>"inline", :title => "Novo Assunto" %>
        <div id="assuntos"><%= render "campos_assunto"%></div>        
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :resumo %><br />
        <%= f.text_area :resumo, :size => "30x3" %>
      </td>
      <td colspan="2">
        <%= f.label :obs %><br />
        <%= f.text_area :obs, :size => "24x3" %>
      </td>
    </tr>
    <tr>
      <td colspan="3"><%= f.submit "Salvar" %></td>
    </tr>
  <% end %>
</table>
    
    <%= render "form_assunto" %>
    <%= render "form_local" %>