
<%= javascript_include_tag "jquery.colorbox","colorbox.js"%>
<% form_for @livro do |f| %>
  <%= f.error_messages %>
  <div id="mais_assuntos" style="display:none"></div>
  <p>   
      <%= render "campos_assunto", :f => f %>    
      <%= link_to "Cadastrar Assuntos", "#inline_content", :class =>"inline" %>
  </p>
  <p>
    <%= f.label :identificacao_id,"Identificação do Livro" %><br />
    <%= f.collection_select :identificacao_id ,@identificacoes,:id,:livro, :include_blank => "Selecione" %>
  </p>
  <p>
    <%= f.label :area_id %><br />
    <%= f.collection_select :area_id ,@areas,:id,:nome, :include_blank => "Selecione" %>
  </p>
  <p>
    <%= f.label :editora_id %><br />
    <%= f.collection_select :editora_id ,@editoras,:id,:nome, :include_blank => "Selecione" %>
  </p>
  <p>
    <%= f.label :localizacao_id %><br />
    <%= f.collection_select :localizacao_id ,@localizacoes,:id,:descricao, :include_blank => "Selecione" %>
  </p>
  <p>
    <%= f.label :tombo_seduc %><br />
    <%= f.text_field :tombo_seduc %>
  </p>
  <p>
    <%= f.label :tombo_l %><br />
    <%= f.text_field :tombo_l %>
  </p>
  <p>
    <%= f.label :colecao %><br />
    <%= f.text_field :colecao %>
  </p>
  <p>
    <%= f.label :edicao %><br />
    <%= f.text_field :edicao %>
  </p>
  <p>
    <%= f.label :data_edicao %><br />
    <%= f.date_select :data_edicao %>
  </p>
  <p>
    <%= f.label :local_edicao %><br />
    <%= f.text_field :local_edicao %>
  </p>
  <p>
    <%= f.label :resumo %><br />
    <%= f.text_area :resumo %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_area :obs %>
  </p>

  <p><%= f.submit %></p>
<% end %>


    <p><a class='inline' href="#inline_content">Localizaçao</a></p>
    














	<div style='display:none'>
		<div id='inline_content' style='padding:10px; background:#fff;'>                
                  <h2><%= current_user.unidade.nome %></h2>
      <%= form_tag({ :method => 'post', :action => 'create_assunto' })%>
        <%= error_messages_for 'contact' %>
        <table>
            <tr>
              <th width="30%">
                <div class="botao">Assunto</div>
              </th>
              <td width="20%" align="center">
                <%= text_field_tag :descricao %>
              </td>
              <td><div class="botao"><%= submit_tag 'Criar!' %></div></td>
            </tr>

          </table>
              <hr>
        </div>
	</div>

