      <table>
        <tr bgcolor="#DCDCDC" >
            <th width="400">Identificacao</th>
            <th width="100">Area</th>
            <th width="100">Editora</th>
            <th colspan="3">Administração</th>
        </tr>
         <% for livro in @livros %>
            <tr bgcolor="	#F5F5F5">
                <td><%=h livro.identificacao.livro%></td>
                <td><%=h livro.area.nome %></td>
                <td><%=h livro.editora.nome %></td>
                <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), livro, :title => "Exibir Periódico" %></td>
                <% if current_user.has_role?('admin') or current_user.has_role?('escola') or current_user.has_role?('responsavel')%>
                    <td align="center"><%= link_to image_tag("/stylesheets/images/edit.png", :size => "15x15"), edit_livro_path(livro), :title => "Editar Livro" %></td>
                    <td align="center"><%= link_to image_tag("/stylesheets/images/excluir.png", :size => "15x15"), livro, :confirm => 'Confirma?', :method => :delete, :title => "Excluir Livro" %></td>
                <%else%>
                    <td align="center"> --- </td>
                    <td align="center"> --- </td>
                <%end%>
              </tr>
            <% end %>
     </table>
     <table bgcolor="#DCDCDC" width="100%">
      <tr >
        <td align="left" colspan="4"><%if @livros.present?%><%= will_paginate @livros %><%end%></td>
      </tr>
    </table>
