  <table>
    <tr>
      <td align="right"><b>TOTAL DE LIVROS: </b>
         <font color ="red "size="2"><b><%= @contador %></b></font>
      </td>
   </tr>
  </table>
  <div class="tabs">
    <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC" >
            <th width="50">Tombo</th>
            <th width="400">Identificacao</th>
            <th width="100">Area</th>
            <th width="100">Editora</th>
            <th colspan="3">Administração</th>
        </tr>
         <% for livro in @livros %>
            <tr bgcolor="	#F5F5F5">
                <td align="left"><%=h livro.tombo_l%></td>
                <td align="left"><%=h livro.identificacao.livro%></td>
                <td align="left"><%=h livro.area.nome %></td>
                <td align="left"><%=h livro.editora.nome %></td>
                <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), livro, :title => "Exibir Periódico" %></td>
                <% if current_user.has_role?('admin') or current_user.has_role?('escola') or current_user.has_role?('responsavel')%>
                    <td align="center"><%= link_to image_tag("/stylesheets/images/edit.png", :size => "15x15"), edit_livro_path(livro), :title => "Editar Livro" %></td>
                <%else%>
                    <td align="center"> --- </td>
                <%end%>
                <% if current_user.has_role?('admin') or current_user.has_role?('escola')%>
                    <td align="center"><%= link_to image_tag("/stylesheets/images/excluir.png", :size => "15x15"), livro, :confirm => 'Confirma?', :method => :delete, :title => "Excluir Livro" %></td>
                <%else%>
                    <td align="center"> --- </td>
                <%end%>
              </tr>
            <% end %>
     </table>
     <table bgcolor="#DCDCDC" width="100%">
      <tr >
        <td align="left" colspan="4"><%if @livros.present?%><%= will_paginate @livros, :update => "livros" %><%end%></td>
      </tr>
    </table>
  </div>
