<% title "LIVROS" %>
<% if @livros_cad.present?%>
  <%if @livros_cad.count > 1%>
    <%kind = "Multi-Tombos"%>
  <%else%>
    <%kind = "Uni-Tombo"%>
  <%end%>
<div class ="tabs">
  <div id="topoShow"></div>
   <div id="caixa_titulo">
     <font size="3"><strong>Livros Cadastrados em <%= "#{kind}" %> </strong></font><br/>
   </div>
  <%end%>
    <div class="tabs">
    <table width="100%" bgcolor="#DCDCDC">
       <tr>
         <td  align="left"><strong>Tombo / Livro</strong> </td>
         <td  align="left"><strong>Administração</strong> </td>
       </tr>
       <%@livros_cad.each do |livro_cad| %>
       <tr bgcolor="#F5F5F5">
        <td width="90%">  <%= "#{livro_cad.livro.tombo_l} - #{livro_cad.livro.identificacao.livro}"%></td>
         <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), livro_cad.livro, :title => "Visualizar Titulo" %></td>
       </tr>
       <%end%>
     </table>
        <table>
          <tr>
            <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "35x35"), root_path, :title => "Voltar" %></td>
            <td width="6%"align="left" ><%= link_to image_tag("/stylesheets/images/listar.png", :size => "25x25"), livros_path, :title => "Livros Cadastrados" %></td>
            <% if current_user.has_role?('admin') or current_user.has_role?('escola') or current_user.has_role?('responsavel')%>
                <td><%= link_to image_tag("/stylesheets/images/adicionar.png", :size => "22x22"), new_livro_path, :title => "Cadastrar Livro" %></td>
            <%else%>
                <td align="center"> </td>
            <%end%>
          </tr>
        </table>
   </div>
 </div>

