<% title "Livro" %>

<p>
  <strong>Título:</strong>
  <%=h @livro.identificacao.livro %>
</p>
<p>
  <strong>Subtítulo:</strong>
  <%=h @livro.identificacao.subtitulo %>
</p>

<p>
  <strong>Assuntos relacionados:</strong><br />
  <ul>
  <% @livro.assuntos.each do |assunto| %>
    <li>
      <%= assunto.descricao %>
    </li>
  <%end%>
  </ul>
</p>


<p>
  <strong>Area:</strong>
  <%=h @livro.area %>
</p>
<p>
  <strong>Editora:</strong>
  <%=h @livro.editora %>
</p>
<p>
  <strong>Localizacao:</strong>
  <%=h @livro.localizacao %>
</p>
<p>
  <strong>Tombo Seduc:</strong>
  <%=h @livro.tombo_seduc %>
</p>
<p>
  <strong>Tombo L:</strong>
  <%=h @livro.tombo_l %>
</p>
<p>
  <strong>Colecao:</strong>
  <%=h @livro.colecao %>
</p>
<p>
  <strong>Edicao:</strong>
  <%=h @livro.edicao %>
</p>
<p>
  <strong>Data Edicao:</strong>
  <%=h @livro.data_edicao %>
</p>
<p>
  <strong>Local Edicao:</strong>
  <%=h @livro.local_edicao %>
</p>
<p>
  <strong>Resumo:</strong>
  <%=h @livro.resumo %>
</p>
<p>
  <strong>Obs:</strong>
  <%=h @livro.obs %>
</p>

<p>
  <%= link_to "Edit", edit_livro_path(@livro) %> |
  <%= link_to "Destroy", @livro, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", livros_path %>
</p>
