<% title "Assuntos" %>

<table>
  <tr>
    <th>Descricao</th>
  </tr>
  <% for assunto in @assuntos %>
    <tr>
      <td><%=h assunto.descricao %></td>
      <td><%= link_to "Show", assunto %></td>
      <td><%= link_to "Edit", edit_assunto_path(assunto) %></td>
      <td><%= link_to "Destroy", assunto, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Assunto", new_assunto_path %></p>
