<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= "Sistema de Biblioteca - BibliOS. Você está em: #{h(yield(:title) || 'Sem titulo')}" %></title>
    <%= stylesheet_link_tag 'application','menu_css' %>
        <%= stylesheet_link_tag '/javascripts/plugins/flexigrid/css/flexigrid.css' %>
     <%= stylesheet_link_tag 'colorbox','geral',"pepper-grinder/jquery-ui-1.8.16.custom","jquery.multiselect","ui.selectmenu" %>
    <%= javascript_include_tag 'jquery-1.7','jquery-ui-1.8.16.custom.min',"jquery.ui.datetimepicker.min","jquery-ui-i18n.min",'jrails',"jquery.colorbox","colorbox.js","jquery.multiselect.min","ui.selectmenu",'plugins/flexigrid/js/flexigrid.pack','application.js' %>
    <%= yield(:head) %>
  </head>
  <body>
        <div id="topo">
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
          <div class="nav">
            <div class="table">
            </div>
              <ul id="menu" class="select">
                <li><a href="#"><b>Arquivo</b></a>
                  <div class="select_sub">
                    <ul class="sub">
                      <li><%= link_to "Home", root_path %></li>
                      <li><%= link_to "Sair", logout_path %></li>
                    </ul>
                  </div>
                </li>
                <% if current_user.has_role?('admin') and current_user.has_role?('escola') or  current_user.has_role?('responsavel')%>
                <li><a href="#"><b>Cadastros</b></a>
                  <div class="select_sub">
                    <ul class="sub">
                      
                      <li><%= link_to "Dicio. & Enciclo.", new_dicionario_enciclopedia_path %></li>
                      <li><%= link_to "Jogos", new_jogo_path %></li>
                      <li><%= link_to "Livros", new_livro_path %></li>
                      <li><%= link_to "Mapas", new_mapa_path %></li>
                      <li><%= link_to "Mídias", new_midia_path %></li>
                      <li><%= link_to "Periodicos" %></li>
                      <li> __ </li>
                      <li><%= link_to "Autores", new_autor_path %></li>
                                       <% if current_user.has_role?('admin')%>
                         <li><%= link_to "Áreas", new_area_path %></li>
                      <%end%>
                      <li><%= link_to "Cantores", new_cantor_path %></li>
                      <li><%= link_to "Editoras", new_editora_path %></li>
                      <% if current_user.has_role?('admin')%>
                         <li><%= link_to "Gêneros", new_genero_path %></li>
                      <%end%>

                      <li><%= link_to "Títulos", new_identificacao_path %></li>
                    </ul>
                  </div>
                </li>
                <%end%>
                <li><a href="#"><b>Consulta</b></a>
                  <div class="select_sub">
                    <ul class="sub">
                      <li><%= link_to "Dicio. & Enciclo.", consultaDic_path %></li>
                      <li><%= link_to "Jogos", consultaJog_path %></li>
                      <li><%= link_to "Livros", consultaLiv_path %></li>
                      <li><%= link_to "Mapas", consultaMap_path %></li>
                      <li><%= link_to "Mídias", consultaMid_path %></li>

                      <li> __ </li>
                      
                      <li><%= link_to "Autores", consultaAut_path %></li>
                      <li><%= link_to "Áreas", consultaAre_path %></li>
                      <li><%= link_to "Assuntos", consultaAsu_path %></li>
                      <li><%= link_to "Cantores", consultaCan_path %></li>
                      <li><%= link_to "Editoras", consultaEdi_path %></li>
                      <li><%= link_to "Gêneros", consultaGen_path %></li>
                      <li><%= link_to "Músicas", consultaMus_path %></li>
                      <li><%= link_to "Títulos", consultaTit_path %></li>
                    </ul>
                  </div>
                </li>

                <% if current_user.has_role?('admin') or current_user.has_role?('escola')  %>
                <li><a href="#"><b>Gerenciamento</b></a>
                  <div class="select_sub">
                    <ul class="sub">
                      <li><%= link_to "Associar Usuários", new_roles_user_path %></li>
                      <li><%= link_to 'Gerenciar Usuários', roles_users_path %></li>
                      <li><%= link_to 'Log', tombos_path %></li>
                    </ul>
                  </div>
                </li>
                <%end%>
              </ul>
          </div>
        </div>

        <div id="esquerda">
          <% unless logged_in? %>
            <% form_tag session_path do -%>
            <font  size="2">
             <p><%= label_tag 'Usuário' %><br />
                <%= text_field_tag 'login', @login %></p>

            <p><%= label_tag 'Senha' %><br/>
               <%= password_field_tag 'password', nil %></p>
            </font>
            <p><%= submit_tag 'Entrar' %></p>
            <% end %>
          <%end%>
        </div>
                <div id="colCentral">
                  <div id="container">
                    <%- if show_title? -%>
                      <h1><%=h yield(:title) %></h1>
                    <%- end -%>
                    <%= yield %>
                  </div>
                </div>
  </body>
</html>
