<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application','colorbox' %>
    <%= javascript_include_tag 'jquery-1.4.2.js','jquery-ui','jrails','application.js' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="menu">
      <ul>
        <li><%= link_to "Dicionário & Enciclopédias", new_dicionario_enciclopedia_path %></li>
        <li><%= link_to "Jogos", new_jogo_path %></li>
        <li><%= link_to "Livros", new_livro_path %></li>
        <li><%= link_to "Mapas", new_mapa_path %></li>
        <li><%= link_to "Periodicos", new_periodico_path %></li>
      </ul>
      <ul>
        <li><%= link_to "Áreas", new_area_path %></li>
        <li><%= link_to "Identificador", new_identificacao_path %></li>
      </ul>
    </div>
    <div id="container">
      
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>

      <%= yield %>
    </div>
  </body>
</html>
