<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= "Sistema de Biblioteca - BIBLO. Você está em: #{h(yield(:title) || 'Sem titulo')}" %></title>
    <%= stylesheet_link_tag 'application','layout.css' %>
    <%= javascript_include_tag 'jquery-1.7','jquery-ui-1.8.16.custom.min','jrails',"jquery.colorbox","colorbox.js","jquery.multiselect.min","ui.selectmenu",'plugins/flexigrid/js/flexigrid.pack','application.js' %>
    <%= yield(:head) %>
  </head>
  <body>
        <div id="topo">
         <p>
             <h1>SISTEMA DE GERENCIAMENTO DE BIBLIOTECA - BIBLOS - </h1>
             <h3>Secretaria da Educação da Prefeitura Municipal de Americana </h3>
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
         </p>
        </div>
         <div id="colunaEsquerda">
          <div id="sepEsquerdaColCentral">
            <div id="colunaDireita">
              <div id="sepcolCentralDir">
                <div id="colCentral">
                  <div id="container">
                    <%= yield %>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
  </body>
</html>
